body {
    background-color: #D9CCC1;
    margin: 0;
    padding: 0;
}

.top {
    display: flex;
    flex-direction: row;
    gap: 78%;
    margin-top: 15px;
}

#name {
    text-decoration: none;
    font-size: 3.5rem;
    margin-left: 20px;
    color: black;
}

h2 {
    font-size: 5rem;
    margin-left: 70%;
    margin-top: 200px;
    padding: 0;
}

.whole-left-side p {
    font-size: 2.5rem;
    width: 30vw;
    margin-left: 15%;
}

#image-main {
    display: block;
    margin: auto;
    width: 50vw;
    border-radius: 2em;
    margin-top: 5%;
}

#under {
    font-size: 2.5rem;
    width: 40vw;
    text-align: center;
    margin-left: 22%;
}

.whole-page {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.right-section {
    display: flex;
    flex-direction: column;
    margin-left: 70%;
    margin-top: -62%;
}

.right-section a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
}

.right-section p {
    font-size: 2rem;
}

#undertwo {
    text-decoration: underline;

}

.next {
    margin-top: 60%;
    margin-left: 64%;
    font-size: 3rem;
}

.next a {
    text-decoration: none;
    font-size: 8rem;
    color: black;
}

footer {
    margin-left: 50px;
}

.bottom-1 {
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    gap: 40px;
}

footer a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
}

