body {
    background-color: #FF0800;
    margin: 0;
}

/* h2 {
    font-size: 5vh;
    margin-top: 500px;
} */


.row {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-left: 50px;
}

.row, p
 {
    font-size: 1.5rem;
 }
.row, a
 {
    font-size: 1.5rem;
 }
.row2 {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-left: 50px;
    margin-top: 10px;
}

p,
a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
}

h2 {
    font-size: 6rem;
    padding: 0;
    margin: 0;
    margin-left: 20px;
}


h3 {
    margin-left: 1350px;
    margin-top: -940px;
    font-size: 8rem;
}
.scroll-wheel-side
 {
    margin-left: 1350px;
    margin-top: -10px;
}

.left-bottom {
    margin-top: 800px;
}

.scroll-wheel-side {
    height: 200px; 
    width: 33vw;
    overflow-y: auto;
    border: 1px solid #ccc; 
    margin-left: 1000px;
}

.scroll-wheel-side::-webkit-scrollbar {
    display: none;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.first-opt {
    display: flex;
    flex-direction: row;
}

.column a {
    font-size: 5rem;
}
.column p {
    font-size: 1rem;
}